INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/ifdnfc-activate
src/ifdnfc_activate-ifdnfc-activate.o
src/libifdnfc.la
src/libifdnfc_la-atr.lo
src/libifdnfc_la-atr.o
src/libifdnfc_la-ifd-nfc.lo
src/libifdnfc_la-ifd-nfc.o
stamp-h1

