<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>libifdnfc.so.0.1.4</string>
	<key>CFBundleIdentifier</key>
	<string>org.libnfc</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.00</string>
	<key>ifdCapabilities</key>
	<string>0x00000000</string>
	<key>ifdProtocolSupport</key>
	<string>0x00000001</string>
	<key>ifdVersionNumber</key>
	<string>0x00000001</string>
	<key>ifdLogLevel</key>
	<string>0x000f</string>
	<!-- Possible values for ifdLogLevel
	1: CRITICAL  important error messages
	2: INFO      informative messages like what reader was detected
	4: COMM      a dump of all the bytes exchanged between the host and
	             the reader
	8: PERIODIC  periodic info when pcscd test if a card is present
	             (every 1/10 of a second)
	The final value is a OR of these values
	Default value: 3 (CRITICAL + INFO)
	-->

	<key>ifdManufacturerString</key>
	<string>Libnfc.org</string>

	<key>ifdProductString</key>
	<string>Generic libnfc driver for USB devices</string>

	<key>ifdVendorID</key>
	<array>
		<string>0x04CC</string>
		<string>0x04CC</string>
		<string>0x04E6</string>
		<string>0x054C</string>
		<string>0x1FD3</string>
		<string>0x054C</string>
	</array>

	<key>ifdProductID</key>
	<array>
		<string>0x0531</string>
		<string>0x2533</string>
		<string>0x5591</string>
		<string>0x0193</string>
		<string>0x0608</string>
		<string>0x02E1</string>
	</array>

	<key>ifdFriendlyName</key>
	<array>
		<string>Philips PN531 Contactless Reader &amp; NFC</string>
		<string>NXP PN533 Contactless Reader &amp; NFC</string>
		<string>SCM Micro SCL3711 Contactless Reader &amp; NFC</string>
		<string>Sony PN531 Contactless Reader &amp; NFC</string>
		<string>ASK LoGO Contactless Reader</string>
		<string>Sony FeliCa S360 (PaSoRi) Contactless Reader &amp; NFC</string>
	</array>

	<key>Copyright</key>
	<string>This driver is protected by terms of the GNU Lesser General Public License version 2.1, or (at your option) any later version.</string>

</dict>
</plist>
